{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
</head>

<body>
    <header>
        <div class="global-header">
            <a href="index.html">
                <h4>Blog</h4>
            </a>
            <ul>
                <li>
                    <a href=""></a>
                </li>
            </ul>
        </div>
    </header>
    
    {% block content %}
    {% endblock %}

    <footer>
        <div class="global-footer">

        </div>
    </footer>
</body>
</html>